# Read more about SSH config files: https://linux.die.net/man/5/ssh_config

# GitHub
Host github github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_github_{{ .chezmoi.os }}_{{ .chezmoi.hostname }}
  IdentitiesOnly yes
  {{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
  AddKeysToAgent yes
  {{- end }}
