# Read more about SSH config files: https://linux.die.net/man/5/ssh_config

# GitHub
Host github github.com
  UseKeychain yes
  AddKeysToAgent yes
  HostName github.com
  IdentityFile ~/.ssh/id_ed25519_github_macbookair
  User git
